<!DOCTYPE html>
<html>

<head>
  <title>じゃんけんゲーム</title> <!--タイトル-->
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>じゃんけんゲーム</h1> <!--表示-->

  <p>エントリー</p>
  <ul>
    <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
    <li th:each="user : ${entry.users}">[[${user}]]</li>
  </ul>

  <a href="/janken/jankengame?hand=Gu">グー</a>
  <a href="/janken/jankengame?hand=Ch">チョキ</a>
  <a href="/janken/jankengame?hand=Pa">パー</a>
  </br>

  <div th:if="${myhand}">
    <p>あなたの手 [[${myhand}]]</p>
    <p>相手の手 [[${yourhand}]]</p>
    <p>結果 [[${result}]]</p>
  </div>
</body>

</html>
