<!DOCTYPE html>
<html>

<head>
  <title>じゃんけんゲーム</title> <!--タイトル-->
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>じゃんけんゲーム</h1> <!--表示-->

  <!--entry.users.size()でも出来た
  <p>今[[${entry.get_Number_People()}]]人がエントリーしています</p>-->

  <ul>
  Hi <nobr sec:authentication="name"></nobr>
  </ul>

  <h2>エントリー</h2>
  <p th:if="${userName}">
  <div th:each="user,stat:${userName}">
    <tr>
      <td>・[[${user.userName}]]</td>
    </tr>
  </div>

  </br>

  <a href="/jankengame?hand=Gu">グー</a>
  <a href="/jankengame?hand=Ch">チョキ</a>
  <a href="/jankengame?hand=Pa">パー</a>
  </br>

  <div th:if="${myhand}">
    <p>あなたの手 [[${myhand}]]</p>
    <p>相手の手 [[${yourhand}]]</p>
    <p>結果 [[${result}]]</p>
  </div>
</body>

</html>
