<!DOCTYPE html>
<html>

<head>
  <title>じゃんけんゲーム</title> <!--タイトル-->
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>じゃんけんゲーム</h1> <!--表示-->
  <p th:if="${username}"> <!--もし入力があれば-->
  <h1>Hi! [[${username}]]</h1> <!--入力した名前を表示-->
  </p>

  <a href="/jankengame?hand=Gu">グー</a>
  <a href="/jankengame?hand=Ch">チョキ</a>
  <a href="/jankengame?hand=Pa">パー</a>
  </br>

  <div th:if="${myhand}">
    <p>あなたの手 [[${myhand}]]</p>
    <p>相手の手 [[${yourhand}]]</p>
    <p>結果 [[${result}]]</p>
  </div>
</body>

</html>
