<!DOCTYPE html>
<html>

<head>
  <title>試合会場</title> <!--タイトル-->
</head>

<body>
  <h1>Match</h1> <!--表示-->

  <h2>
    <nobr sec:authentication="name"></nobr>V.S.<td>[[${name}]]</td>
  </h2>


  <a href="/fight?id=1&hand=Gu">グー</a>
  <a href="/fight?id=1&hand=Ch">チョキ</a>
  <a href="/fight?id=1&hand=Pa">パー</a>
  </br>

  <div th:if="${myhand}">
    <p><nobr sec:authentication="name"></nobr>の手 [[${myhand}]]</p><!--ログインした名前表示-->
    <p>[[${name}]]の手 [[${yourhand}]]</p>
    <p>結果 [[${result}]]</p>
  </div>

  <a href="/janken">もどる</a>
</body>

</html>
